#python specific
*.pyc

# removing .lst files
*.lst

#removing hidden files
.project
.settings/
.settings/*

#netbeans ignore personal stuff
nbproject/private/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
target/
